<ng-include src="'templates/sidebar.html'"></ng-include>
<ng-include src="'templates/header.html'"></ng-include>

<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 5px;">
            <div class="pull-left">
                <span style="font-size: 12px;"><a href="#/dashboard"><i class="fa fa-home"></i> Página Inicial</a> > <a href="#/procuracao">Procuração</a> > Detalhes</span>
            </div>
        </div>
    </div>
    <div class="row top_tiles">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Detalhes</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="label-bold">Livro/Ato:</label> {{certidao.livro}} - {{certidao.ato}}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="label-bold">CPF:</label> {{certidao.cpf}} <a href=""><span class="label label-default"><span class="glyphicon glyphicon-save"></span> CPF</span></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="label-bold">Nome:</label> {{procuracao.nome}}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="label-bold">Email:</label> {{procuracao.email}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="label-bold">RG:</label> {{procuracao.rg}} <a href=""><span class="label label-default"><span class="glyphicon glyphicon-save"></span> RG</span></a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="label-bold">Telefone:</label> {{procuracao.telefone | brPhoneNumber}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="label-bold">Dados do Outorgante:</label> {{procuracao.outorgante}}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="label-bold">Dados do Outorgado:</label> {{procuracao.outorgado}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="label-bold">Pedido por:</label> {{procuracao.pedido_por}}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="label-bold">Data/Hora:</label> {{procuracao.data_add}}
                        </div>
                    </div>
                </div>
                <div class="x_title">
                    <h2 style="margin-top: 15px;">Movimentações</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped display">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Descrição</th>
                            <th>Usuário</th>
                            <th>Data/Hora</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="movimentacao in procuracao.movimentacoes">
                            <td>{{movimentacao.numero}}</td>
                            <td>{{movimentacao.descricao}}</td>
                            <td>{{movimentacao.usuario}}</td>
                            <td>{{movimentacao.data}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="x_content text-center" ng-if="hasAddMovimentacao">
                    <div class="divider-dashed"></div>
                    <div class="form-group" style="margin-top: 30px;">
                        <label class="col-sm-3 control-label" style="margin-top: 7px;">
                            Deseja incluir uma movimentação?
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" ng-model="descricao" class="form-control">
                            <span class="input-group-btn">
                               <button type="button" class="btn btn-primary" ng-click="addDescricao(descricao)">Incluir!</button>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_content text-center" style="border-top: 1px solid #e5e5e5;">
                    <button ng-click="movimentar()" type="button" class="btn btn-primary" style="margin-top: 15px;">
                        <i class="fa fa-plus"></i> Movimentar
                    </button>
                    <button type="button" ng-if="procuracao.proximo_passo" class="btn btn-success" style="margin-top: 15px;">
                        {{procuracao.proximo_passo}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<ng-include src="'templates/footer.html'"></ng-include>