<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle" ng-click="toggleMenu()"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="/images/user.svg" alt="">{{user.name}}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="javascript:;">Trocar senha</a></li>
                        <li><a ng-click="logout()"><i class="fa fa-sign-out pull-right"></i> Sair</a></li>
                    </ul>
                </li>
                <li>
                    <!-- weather widget start --><a target="_blank" href="http://ibooked.com.br/weather/uberlandia-4969"><img src="https://w.bookcdn.com/weather/picture/21_4969_1_8_95a5a6_250_7f8c8d_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=w209&anc_id=84503"  alt="booked.net"/></a><!-- weather widget end -->
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->