<ng-include src="'templates/sidebar.html'"></ng-include>
<ng-include src="'templates/header.html'"></ng-include>

<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row top_tiles">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Produtos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <button type="button" class="btn btn-primary" ng-click="hasProduto = !hasProduto; label_type = 'Salvar'; nome_produto = ''">
                                <i class="fa" ng-class="{'fa-plus': !hasProduto, 'fa-minus': hasProduto}"></i> Novo
                            </button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <form class="form-horizontal form-label-left" ng-show="hasProduto">
                    <div class="form-group margin-bottom">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome_produto">Digite o nome do produto <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="input-group" >
                                <input type="text" id="nome_produto" ng-model="nome_produto" class="form-control">
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-primary" ng-click="clickProduto(label_type)">{{label_type}}</button>
                            </span>
                            </div>
                        </div>
                        <br><br>
                    </div>
                </form>
                <div class="x_content" ng-hide="!produtos.length">
                    <table class="table table-striped table-bordered display">
                        <thead>
                        <tr>
                            <th>Nome do Produto</th>
                            <th class="text-center">Data do Cadastro</th>
                            <th class="text-center">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="produto in produtos">
                            <td>{{produto.name}}</td>
                            <td class="text-center">{{produto.date}}</td>
                            <td class="text-center">
                                <ul class="nav panel_toolbox">
                                    <li>
                                        <a class="close-link" ng-click="editarProduto(produto)"><i class="fa fa-pencil"></i></a>
                                    </li>
                                    <li>
                                        <a class="close-link" ng-click="removerProduto(produto.product_id)"><i class="fa fa-trash"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="x_content text-center" ng-show="!produtos.length">
                    <span style="font-size: 22px;">Não possui nenhum produto cadastrado.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<ng-include src="'templates/footer.html'"></ng-include>