<ng-include src="'templates/sidebar.html'"></ng-include>
<ng-include src="'templates/header.html'"></ng-include>

<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row top_tiles">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Relatórios</h2>
                    <ul class="nav navbar-right panel_toolbox" ng-if="notas.length">
                        <li>
                            <button type="button" class="btn btn-primary" ng-click="backSearch()">
                                <i class="fa fa-chevron-left"></i> Fazer nova pesquisa
                            </button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" ng-if="!notas.length">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Centro de Custo
                            </label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <select ng-model="query.centro_custo" class="form-control">
                                    <option value="1">Fazenda Rio Alegre</option>
                                    <option value="2">Fazenda Santa Maria</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="produtos">Produto
                            </label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <select class="form-control" ng-model="query.produto" id="produtos">
                                    <option value=""></option>
                                    <option value="{{produto.product_id}}" ng-repeat="produto in produtos">{{produto.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="fornecedores">Fornecedor
                            </label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <select class="form-control" ng-model="query.fornecedor" id="fornecedores">
                                    <option value=""></option>
                                    <option value="{{fornecedor.fornecedor_id}}" ng-repeat="fornecedor in fornecedores">{{fornecedor.nome}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Data de compra</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control" ng-model="query.data_compra_inicio" ui-date-mask>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12 text-center margin-top">
                                <span>até</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control" ng-model="query.data_compra_fim" ui-date-mask>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Data de pagamento</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control" ng-model="query.data_pagamento_inicio" ui-date-mask>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12 text-center margin-top">
                                <span>até</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control" ng-model="query.data_pagamento_fim" ui-date-mask>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Data do cadastro NF</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control" ng-model="query.data_cadastro_inicio" ui-date-mask>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12 text-center margin-top">
                                <span>até</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control" ng-model="query.data_cadastro_fim" ui-date-mask>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Número da NFe
                            </label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <input type="text" class="form-control" ng-model="query.nfe">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Valor do produto</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control" ng-model="query.valor_produto_inicio" ui-money-mask="mdecimals">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12 text-center margin-top">
                                <span>até</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control" ng-model="query.valor_produto_fim" ui-money-mask="mdecimals">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Valor da Nota</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control" ng-model="query.valor_nfe_inicio" ui-money-mask="mdecimals">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12 text-center margin-top">
                                <span>até</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control" ng-model="query.valor_nfe_fim" ui-money-mask="mdecimals">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Valor Total da Nota</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control" ng-model="query.valor_total_inicio" ui-money-mask="mdecimals">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12 text-center margin-top">
                                <span>até</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control" ng-model="query.valor_total_fim" ui-money-mask="mdecimals">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <button type="submit" ng-click="relatorio()" class="btn btn-success">Pesquisar</button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="x_content" ng-show="notas.length">
                    <div class="row tile_count">
                        <div class="col-md-3 col-sm-3 col-xs-12 tile_stats_count">
                            <span class="count_top"><i class="fa fa-money"></i> Soma Valor dos Produtos</span>
                            <div class="count">{{soma_valor_produto | finance:true:2}}</div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 tile_stats_count">
                            <span class="count_top"><i class="fa fa-money"></i> Soma Valor das Notas</span>
                            <div class="count">{{soma_valor_nota | finance:true:2}}</div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 tile_stats_count">
                            <span class="count_top"><i class="fa fa-money"></i> Soma Valor Total das Notas</span>
                            <div class="count">{{soma_valor_total | finance:true:2}}</div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 tile_stats_count">
                            <span class="count_top"><i class="fa fa-list"></i> Produtos Diferentes</span>
                            <div class="count">{{produtos_diferentes}}</div>
                        </div>
                        </div>
                    </div>
                    <br />
                    <div class="row" ng-show="notas.length">
                        <table class="table table-striped table-bordered display">
                            <thead>
                            <tr>
                                <th>NF-e</th>
                                <th class="text-center">Produto</th>
                                <th class="text-center">Quantidade</th>
                                <th class="text-center">Fornecedor</th>
                                <th class="text-center">Dt. Compra</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="nota in notas">
                                <td>{{nota.nfe}}</td>
                                <td class="text-center">{{nota.name}}</td>
                                <td class="text-center">{{nota.quantidade}}{{nota.unidade}}</td>
                                <td class="text-center">{{nota.nome}}</td>
                                <td class="text-center">{{nota.data_compra}}</td>
                                <td class="text-center">
                                    <ul class="nav panel_toolbox">
                                        <li>
                                            <a class="close-link" ng-click="detalhesNotaEntrada(nota)"><i class="fa fa-plus"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<ng-include src="'templates/footer.html'"></ng-include>