<ng-include src="'templates/sidebar.html'"></ng-include>
<ng-include src="'templates/header.html'"></ng-include>

<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row top_tiles">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Relatórios</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="produtos">Produto
                            </label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <select class="form-control" ng-model="query.produto" id="produtos">
                                    <option value=""></option>
                                    <option value="{{produto.product_id}}" ng-repeat="produto in produtos">{{produto.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="fornecedores">Fornecedor
                            </label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <select class="form-control" ng-model="query.produto" id="fornecedores">
                                    <option value=""></option>
                                    <option value="{{fornecedor.fornecedor_id}}" ng-repeat="fornecedor in fornecedores">{{fornecedor.nome}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Data de compra</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12 text-center margin-top">
                                <span>até</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Data de pagamento</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12 text-center margin-top">
                                <span>até</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Data do cadastro</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12 text-center margin-top">
                                <span>até</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Número da NFe
                            </label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Valor do produto</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12 text-center margin-top">
                                <span>até</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Valor da Nota Fiscal</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12 text-center margin-top">
                                <span>até</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Valor Total</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12 text-center margin-top">
                                <span>até</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <button class="btn btn-primary" type="reset">Limpar</button>
                                <button type="submit" class="btn btn-success">Pesquisar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<ng-include src="'templates/footer.html'"></ng-include>